BMIDE/j9mdxextraction/output/generated/J9mdxextractionWsdl/java/TCJira-Extraction-2022-06-Extraction/resources/TCJiraExtraction2206ExtractionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j9.com/Services/TCJira_Extraction/2022-06" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:imp1="http://teamcenter.com/Schemas/Soa/2006-03/Exceptions" xmlns:imp0="http://teamcenter.com/Schemas/Soa/2006-03/Base" xmlns:imp3="http://teamcenter.com/webservices/2005-06/schemas/WSFaults" xmlns:imp2="http://j9.com/Schemas/TCJira_Extraction/2022-06/Extraction" xmlns:tns="http://j9.com/Services/TCJira_Extraction/2022-06" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema>
            <xs:import namespace="http://teamcenter.com/Schemas/Soa/2006-03/Base" schemaLocation="SoaBase.xsd"/>
            <xs:import namespace="http://teamcenter.com/Schemas/Soa/2006-03/Exceptions" schemaLocation="SoaExceptions.xsd"/>
            <xs:import namespace="http://j9.com/Schemas/TCJira_Extraction/2022-06/Extraction" schemaLocation="TCJiraExtraction2206Extraction.xsd"/>
            <xs:import namespace="http://teamcenter.com/webservices/2005-06/schemas/WSFaults" schemaLocation="WSFaults.xsd"/>
        </xs:schema>
  </types>
  <message name="InvalidUserFaultFault">
    <part name="exx02" element="imp1:InvalidUserFault">
    </part>
  </message>
  <message name="extractionOperationResponse">
    <part name="out" element="imp2:Output">
    </part>
  </message>
  <message name="InternalServerFaultFault">
    <part name="exx01" element="imp1:InternalServerFault">
    </part>
  </message>
  <message name="extractionOperationRequest">
    <part name="in0" element="imp2:ExtractionOperationInput">
    </part>
  </message>
  <portType name="TCJiraExtraction2206Extraction">
    <operation name="extractionOperation">
<wsdl:documentation><![CDATA[
        .
        ]]></wsdl:documentation>
      <input name="extractionOperationRequest" message="tns:extractionOperationRequest">
    </input>
      <output name="extractionOperationResponse" message="tns:extractionOperationResponse">
    </output>
      <fault name="InvalidUserFaultError" message="tns:InvalidUserFaultFault">
    </fault>
      <fault name="InternalServerFaultError" message="tns:InternalServerFaultFault">
    </fault>
    </operation>
  </portType>
  <binding name="TCJiraExtraction2206ExtractionSoapBinding" type="tns:TCJiraExtraction2206Extraction">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="extractionOperation">
      <soap:operation soapAction="extractionOperation" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidUserFaultError">
        <soap:fault name="InvalidUserFaultError" use="literal"/>
      </fault>
      <fault name="InternalServerFaultError">
        <soap:fault name="InternalServerFaultError" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="TCJiraExtraction2206ExtractionService">
    <port name="TCJira-Extraction-2022-06-Extraction" binding="tns:TCJiraExtraction2206ExtractionSoapBinding">
      <soap:address location="http://localhost:80/PTierApp/WebServices/TCJira-Extraction-2022-06-Extraction"/>
    </port>
  </service>
</definitions>
